body{
    margin: 0;
    padding: 0;
    background: #ddd;
}

.wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1em;
    /*grid-auto-rows: minmax(100px, auto); */
}
.columnsContainer, footer, header 
{ position: relative; margin: .5em; }